# <span style="font-size: 20pt; font-family: Montserrat, sans-serif; color: rgb(92, 148, 206); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Graded Assignment 3: 9 to 5</span>

  

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on</span> [<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Kaggle</span>](https://www.kaggle.com/bls/employment)<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Business Issue</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">About the Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:</span>

1. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.</span>
    
2. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.</span>
    

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Set Up</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To connect to the database, use the same connection info used during the SQL lessons.&nbsp;</span> 

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For the assignment, we will be using the LaborStatisticsDB database.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Database Exploration</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To start with, let’s get to know the database further.</span>

1. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: &quot;Times New Roman&quot;; font-size: 10pt; white-space: pre-wrap;">Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with LaborStatisticsDB.</span>

To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the the link button to the right of the  \</\> symbol in the gray part of this cell, the link is just the name of your file.

In [ ]:
-- upload image

2. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arvo, serif; font-size: 10pt; white-space: pre-wrap;">What is the datatype for women employees?</span>

In [12]:
-- The datatype of "WOMEN EMPLOYEES" is a string and the code is 10 and an integer. I tried using the DESCRIBE function and it didnt work. 
SELECT *
FROM LaborStatisticsDB.dbo.datatype AS dt
WHERE dt.data_type_text LIKE 'women%'

data_type_code,data_type_text
10,WOMEN EMPLOYEES
39,WOMEN EMPLOYEES-TO-ALL EMPLOYEES RATIO

In [27]:
SELECT COUNT(ser.series_title)
FROM LaborStatisticsDB.dbo.series AS ser
WHERE ser.series_title LIKE 'women%'

(No column name)
1372

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the series id for&nbsp; women employees in the commercial banking industry in the financial activities supersector?</span>

In [13]:
-- The series ID is either CE5552211010 or CEU55221101
SELECT s.series_id, i.industry_name, ss.supersector_name, s.series_title
FROM LaborStatisticsDB.dbo.series AS s 
JOIN LaborStatisticsDB.dbo.industry AS i 
ON s.industry_code = i.industry_code
JOIN LaborStatisticsDB.dbo.supersector as ss 
ON s.supersector_code = ss.supersector_code
WHERE s.series_title = 'women employees' AND i.industry_name = 'commercial banking' AND ss.supersector_name = 'financial activities'

series_id,industry_name,supersector_name,series_title
CES5552211010,Commercial banking,Financial activities,Women employees
CEU5552211010,Commercial banking,Financial activities,Women employees

In [5]:
SELECT *
FROM LaborStatisticsDB.dbo.industry AS i
WHERE i.industry_name = 'commercial banking'

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
563,55522110,52211,A,Commercial banking,6,T,564

In [6]:
SELECT *
FROM LaborStatisticsDB.dbo.supersector AS ss 
WHERE ss.supersector_name = 'financial activities'

supersector_code,supersector_name
55,Financial activities

In [9]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.series AS s
WHERE s.series_title = 'women employees'

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES0000000010,0,00000000,10,S,Women employees
CES0500000010,5,05000000,10,S,Women employees
CES0600000010,6,06000000,10,S,Women employees
CES0700000010,7,07000000,10,S,Women employees
CES0800000010,8,08000000,10,S,Women employees
CES1000000010,10,10000000,10,S,Women employees
CES1011330010,10,10113300,10,S,Women employees
CES1021000010,10,10210000,10,S,Women employees
CES1021100010,10,10211000,10,S,Women employees
CES1021200010,10,10212000,10,S,Women employees

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Join in on the Fun</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to start joining! You can choose the type of join you use, just make sure to make a&nbsp; note!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join&nbsp; annual_2016 with series on series_id. We only want the data in the annual_2016 table to be included in the result.</span>

In [19]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id

id,series_id,year,period,value,footnote_codes,original_file,series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
0,CEU5500000007,2016,M13,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000007,55,55000000,7,U,Average weekly hours of production and nonsupervisory employees
1,CEU5500000008,2016,M13,26.11,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000008,55,55000000,8,U,Average hourly earnings of production and nonsupervisory employees
2,CEU5500000030,2016,M13,962.73,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000030,55,55000000,30,U,Average weekly earnings of production and nonsupervisory employees
3,CEU5500000031,2016,M13,411.29,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000031,55,55000000,31,U,Average weekly earnings of production and nonsupervisory employees
4,CEU5500000032,2016,M13,11.15,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000032,55,55000000,32,U,Average hourly earnings of production and nonsupervisory employees
5,CEU5500000034,2016,M13,111.6,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000034,55,55000000,34,U,Indexes of aggregate weekly hours of production and nonsupervisory employees
6,CEU5500000035,2016,M13,179.2,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000035,55,55000000,35,U,Indexes of aggregate weekly payrolls of production and nonsupervisory employees
7,CEU5500000081,2016,M13,236997,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000081,55,55000000,81,U,Aggregate weekly hours of production and nonsupervisory employees
8,CEU5500000082,2016,M13,6189003,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000082,55,55000000,82,U,Aggregate weekly payrolls of production and nonsupervisory employees
9,CEU5552200007,2016,M13,37.3,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5552200007,55,55522000,7,U,Average weekly hours of production and nonsupervisory employees

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and datatype on data_type_code</span>

In [7]:
SELECT TOP 10 s.data_type_code
FROM LaborStatisticsDB.dbo.series AS s
INNER JOIN LaborStatisticsDB.dbo.datatype AS dt
ON s.data_type_code = dt.data_type_code

data_type_code
1
10
25
26
1
2
3
6
7
8

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and industry on industry_code</span>

In [9]:
SELECT TOP 10 s.industry_code
FROM LaborStatisticsDB.dbo.series AS s
LEFT JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code

industry_code
00000000
00000000
00000000
00000000
05000000
05000000
05000000
05000000
05000000
05000000

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Aggregate Your Friends and Code some SQL</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Put together the following:</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; No chopping people into little bits, please.</span>

In [32]:
-- old solution
SELECT COUNT (*) AS "Number of Employees in 2016"
FROM LaborStatisticsDB.dbo.annual_2016 AS a

Number of Employees in 2016
29042

In [4]:
-- new solution
SELECT ROUND(SUM(a.value),0) AS "Number of Employees in 2016"
FROM LaborStatisticsDB.dbo.annual_2016 AS a

Number of Employees in 2016
2351408916

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many women employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp;</span>

In [75]:
-- step 1
SELECT TOP 10 a.series_id, s.series_title
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title LIKE 'women employee%'

series_id,series_title
CEU5000000010,Women employees
CEU5051100010,Women employees
CEU5051110010,Women employees
CEU5051111010,Women employees
CEU5051112010,Women employees
CEU5051113010,Women employees
CEU5051120010,Women employees
CEU5051200010,Women employees
CEU5051500010,Women employees
CEU5051511010,Women employees

In [64]:
-- FINAL ANSWER --> 1372 women employees in 2016
SELECT COUNT(a.series_id) AS "Number of women employees in 2016"
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title LIKE 'women employee%'

Number of women employees in 2016
1372

In [7]:
SELECT ROUND(SUM(a.series_id),0) AS "Number of women employees in 2016"
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title LIKE 'women employee%'

: Msg 8117, Level 16, State 1, Line 1
Operand data type nvarchar is invalid for sum operator.

In [10]:
-- new solution
SELECT ROUND(SUM(a.value),0) AS "Number of Employees in 2016"
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title LIKE 'women employee%'

Number of Employees in 2016
1125490

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.&nbsp;</span>

In [77]:
-- step 1... checking all titles to see if exact word match
SELECT DISTINCT (s.series_title)
FROM LaborStatisticsDB.dbo.series AS s

series_title
Average hourly earnings of all employees
Average weekly hours of all employees
Average weekly overtime hours of production and nonsupervisory employees
Average weekly hours
Average weekly earnings of all employees
Average weekly overtime hours
Indexes of aggregate weekly payrolls of production and nonsupervisory employees
Women employees
Average weekly overtime hours of all employees
Average hourly earnings of production and nonsupervisory employees
Aggregate weekly hours of all employees
Indexes of aggregate weekly payrolls of all employees
Aggregate weekly payrolls of production and nonsupervisory employees
Diffusion indexes
Average weekly earnings of production and nonsupervisory employees
Indexes of aggregate weekly hours of all employees
Indexes of aggregate weekly hours of production and nonsupervisory employees
All employees
Aggregate weekly overtime hours of production and nonsupervisory employees
Aggregate weekly payrolls of all employees
Average weekly hours of production and nonsupervisory employees
Production and nonsupervisory employees
Aggregate weekly hours of production and nonsupervisory employees
Aggregate weekly overtime hours of all employees

In [78]:
-- step 2...# total
SELECT COUNT(s.series_title) AS "Number of Production and nonsupervisory employees"
FROM LaborStatisticsDB.dbo.series AS s
WHERE s.series_title = 'Production and nonsupervisory employees'

Number of Production and nonsupervisory employees
1102

In [82]:
-- FINAL ANSWER --> 1102...but they shouldnt be the same?
SELECT COUNT(a.series_id) AS "Number of 'prod/nonsup employees in 2016' "
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title LIKE 'production and nonsupervisory employees%'

Number of 'prod/nonsup employees in 2016'
1102

In [8]:
SELECT SUM(a.series_id) AS "Number of 'prod/nonsup employees in 2016' "
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title LIKE 'production and nonsupervisory employees%'

: Msg 8117, Level 16, State 1, Line 1
Operand data type nvarchar is invalid for sum operator.

In [11]:
-- new solution
SELECT ROUND(SUM(a.value),0) AS "Number of Employees in 2016"
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title LIKE 'production and nonsupervisory employees%'

Number of Employees in 2016
1263650

4. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?</span>

In [34]:
SELECT ROUND(AVG(j.value), 2) AS "average weekly hours worked by production and nonsupervisory employees across all industries in 2017 "
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.datatype AS dt 
ON s.data_type_code = dt.data_type_code
WHERE dt.data_type_code = 7;

average weekly hours worked by production and nonsupervisory employees across all industries in 2017
36.06

In [83]:
-- step 1.. looking at data
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.january_2017

id,series_id,year,period,value,footnote_codes,original_file
0,CES5500000007,2017,M01,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
1,CES5500000008,2017,M01,26.27,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
2,CES5500000030,2017,M01,969.36,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
3,CES5500000031,2017,M01,406.67,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
4,CES5500000032,2017,M01,11.02,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
5,CES5500000034,2017,M01,113.4,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
6,CES5500000035,2017,M01,183.3,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
7,CES5500000081,2017,M01,240920,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
8,CES5500000082,2017,M01,6328968,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
9,CES5552200007,2017,M01,37.5,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv

In [22]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.series AS s
WHERE s.series_title LIKE 'production and nonsupervisory employees%'

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees
CES0600000006,6,06000000,6,S,Production and nonsupervisory employees
CES0800000006,8,08000000,6,S,Production and nonsupervisory employees
CES1000000006,10,10000000,6,S,Production and nonsupervisory employees
CES1011330006,10,10113300,6,S,Production and nonsupervisory employees
CES1021000006,10,10210000,6,S,Production and nonsupervisory employees
CES1021100006,10,10211000,6,S,Production and nonsupervisory employees
CES1021200006,10,10212000,6,S,Production and nonsupervisory employees
CES1021210006,10,10212100,6,S,Production and nonsupervisory employees
CES1021231006,10,10212310,6,S,Production and nonsupervisory employees

In [29]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.datatype AS dt
WHERE dt.data_type_text LIKE 'average weekly hours%'

data_type_code,data_type_text
2,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
19,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
36,AVERAGE WEEKLY HOURS

In [88]:
SELECT COUNT(jan.series_id) AS "# prod/nonsup employees in 2017"
FROM LaborStatisticsDB.dbo.january_2017 AS jan
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON jan.series_id = s.series_id
WHERE s.series_title LIKE 'production and nonsupervisory employees%'

# prod/nonsup employees in 2017
2204

In [99]:
-- dtc has avg pay
SELECT COUNT (dt.data_type_code) 
FROM LaborStatisticsDB.dbo.datatype AS dt
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON dt.data_type_code = s.data_type_code
WHERE s.data_type_code = 8;

(No column name)
1102

5. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny, please.</span>

In [77]:
-- **weekly payroll of all production and nonsupervisory employees across all industries in January 2017 --> 
SELECT TOP 1 (j.value) AS "total weekly payroll for production and nonsupervisory employees across all industries in January 2017"
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s 
ON s.series_id = j.series_id
JOIN LaborStatisticsDB.dbo.datatype AS dt
ON s.data_type_code = dt.data_type_code
WHERE dt.data_type_code = 82;

total weekly payroll for production and nonsupervisory employees across all industries in January 2017
74498171

In [57]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.datatype AS dt
WHERE dt.data_type_text LIKE '%employees%'

data_type_code,data_type_text
1,ALL EMPLOYEES
2,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
3,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
4,AVERAGE WEEKLY OVERTIME HOURS OF ALL EMPLOYEES
6,PRODUCTION AND NONSUPERVISORY EMPLOYEES
7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
8,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
9,AVERAGE WEEKLY OVERTIME HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
10,WOMEN EMPLOYEES
11,AVERAGE WEEKLY EARNINGS OF ALL EMPLOYEES

In [61]:
SELECT *
FROM LaborStatisticsDB.dbo.datatype AS dt
WHERE dt.data_type_text LIKE '%weekly payroll%'

data_type_code,data_type_text
17,INDEXES OF AGGREGATE WEEKLY PAYROLLS OF ALL EMPLOYEES
35,INDEXES OF AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
57,AGGREGATE WEEKLY PAYROLLS OF ALL EMPLOYEES
82,AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES

6. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [58]:
-- Highest avg weekly hours worked --> MOtor vehicle power train components
SELECT TOP 10 AVG(j.value) AS "avg weekly hours worked", i.industry_name AS "industry"
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i 
ON i.industry_code = s.industry_code
JOIN LaborStatisticsDB.dbo.datatype AS dt
ON dt.data_type_code = s.data_type_code
WHERE dt.data_type_code = 7
GROUP BY i.industry_name 
ORDER BY AVG(j.value) DESC

avg weekly hours worked,industry
49.6,Motor vehicle power train components
47.2,Support activities for mining
46.7,Support activities for oil and gas operations
46.699999999999996,Motor vehicle metal stamping
46.6,Coal mining
46.1,Oil and gas pipeline construction
46.025,Mining
45.7,Boilers
45.7,Crushed and broken limestone mining
45.65,Mining and logging

In [12]:
-- new solution
SELECT TOP 1 MAX(j.value) AS "Max weekly hours worked", i.industry_name AS "industry"
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i 
ON i.industry_code = s.industry_code
JOIN LaborStatisticsDB.dbo.datatype AS dt
ON dt.data_type_code = s.data_type_code
WHERE dt.data_type_code = 7
GROUP BY i.industry_name 
ORDER BY AVG(j.value) DESC

Max weekly hours worked,industry
49.8,Motor vehicle power train components

In [13]:
-- new solution
SELECT TOP 1 MIN(j.value) AS "Min weekly hours worked", i.industry_name AS "industry"
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i 
ON i.industry_code = s.industry_code
JOIN LaborStatisticsDB.dbo.datatype AS dt
ON dt.data_type_code = s.data_type_code
WHERE dt.data_type_code = 7
GROUP BY i.industry_name 
ORDER BY AVG(j.value) ASC

Min weekly hours worked,industry
16.7,Fitness and recreational sports centers

In [59]:
-- Lowest avg weekly hours worked --> fitness and recreational sports centers
SELECT TOP 10 AVG(j.value) AS "avg weekly hours worked", i.industry_name AS "industry"
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i 
ON i.industry_code = s.industry_code
JOIN LaborStatisticsDB.dbo.datatype AS dt
ON dt.data_type_code = s.data_type_code
WHERE dt.data_type_code = 7
GROUP BY i.industry_name 
ORDER BY AVG(j.value) ASC

avg weekly hours worked,industry
16.85,Fitness and recreational sports centers
18.3,Civic and social organizations
18.8,Family clothing stores
18.8,Women's clothing stores
19.3,Skiing facilities
19.6,Clothing stores
20.2,Bowling centers
21.2,Clothing accessories stores
21.3,Clothing and clothing accessories stores
21.35,Drinking places

In [60]:
SELECT TOP 10 * 
FROM LaborStatisticsDB.dbo.series AS s 
WHERE s.series_title LIKE 'production and nonsupervisory employees%'

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees
CES0600000006,6,06000000,6,S,Production and nonsupervisory employees
CES0800000006,8,08000000,6,S,Production and nonsupervisory employees
CES1000000006,10,10000000,6,S,Production and nonsupervisory employees
CES1011330006,10,10113300,6,S,Production and nonsupervisory employees
CES1021000006,10,10210000,6,S,Production and nonsupervisory employees
CES1021100006,10,10211000,6,S,Production and nonsupervisory employees
CES1021200006,10,10212000,6,S,Production and nonsupervisory employees
CES1021210006,10,10212100,6,S,Production and nonsupervisory employees
CES1021231006,10,10212310,6,S,Production and nonsupervisory employees

In [61]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.datatype AS dt

data_type_code,data_type_text
1,ALL EMPLOYEES
2,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
3,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
4,AVERAGE WEEKLY OVERTIME HOURS OF ALL EMPLOYEES
6,PRODUCTION AND NONSUPERVISORY EMPLOYEES
7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
8,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
9,AVERAGE WEEKLY OVERTIME HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
10,WOMEN EMPLOYEES
11,AVERAGE WEEKLY EARNINGS OF ALL EMPLOYEES

In [106]:
-- 
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.january_2017

id,series_id,year,period,value,footnote_codes,original_file
0,CES5500000007,2017,M01,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
1,CES5500000008,2017,M01,26.27,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
2,CES5500000030,2017,M01,969.36,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
3,CES5500000031,2017,M01,406.67,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
4,CES5500000032,2017,M01,11.02,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
5,CES5500000034,2017,M01,113.4,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
6,CES5500000035,2017,M01,183.3,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
7,CES5500000081,2017,M01,240920,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
8,CES5500000082,2017,M01,6328968,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
9,CES5552200007,2017,M01,37.5,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv

In [62]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.industry

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
0,0,-,B,Total nonfarm,0,T,1
1,5000000,-,A,Total private,1,T,2
2,6000000,-,A,Goods-producing,1,T,3
3,7000000,-,B,Service-providing,1,T,4
4,8000000,-,A,Private service-providing,1,T,5
5,10000000,-,A,Mining and logging,2,T,6
6,10113300,1133,A,Logging,5,T,7
7,10210000,21,A,Mining,3,T,8
8,10211000,211,A,Oil and gas extraction,4,T,9
9,10212000,212,A,Mining,NULL,NULL,NULL

7. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2021, which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [15]:
-- new solution
-- Highest industry payroll --> total private
SELECT TOP 1 ROUND(SUM(j.value),0) AS "total weekly payroll", i.industry_name
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON i.industry_code = s.industry_code
WHERE s.data_type_code = 30
GROUP BY i.industry_name
ORDER BY SUM(j.value) DESC

total weekly payroll,industry_name
119157,NULL

In [17]:
SELECT TOP 1 MAX(j.value) AS "total weekly payroll", i.industry_name
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON i.industry_code = s.industry_code
WHERE s.data_type_code = 30
GROUP BY i.industry_name

total weekly payroll,industry_name
1655.98,NULL

In [18]:
SELECT TOP 1 MIN(j.value) AS "total weekly payroll", i.industry_name
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON i.industry_code = s.industry_code
WHERE s.data_type_code = 30
GROUP BY i.industry_name

total weekly payroll,industry_name
295.46,NULL

In [16]:
-- new solution
-- Lowest industry payroll
SELECT TOP 1 SUM(j.value) AS "total weekly payroll", i.industry_name
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON i.industry_code = s.industry_code
WHERE s.data_type_code = 30
GROUP BY i.industry_name
ORDER BY SUM(j.value) ASC

total weekly payroll,industry_name
938.5,Bowling centers

In [93]:
-- Lowest industry payroll --> coin operated laundries
SELECT TOP 1 SUM(j.value) AS "total weekly payroll", i.industry_name
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON i.industry_code = s.industry_code
WHERE s.data_type_code = 82
GROUP BY i.industry_name
ORDER BY SUM(j.value) ASC

total weekly payroll,industry_name
40448,Coin-operated laundries and drycleaners

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Subqueries, Unions, Derived Tables, Oh My!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Write a query that returns the series_id, industry_code, industry_name, and value from the january_2017 table but only if that value is greater than the average value for annual_2016 of data_type_code 82.</span>

In [141]:
SELECT j.series_id, i.industry_code, i.industry_name, j.value
FROM LaborStatisticsDB.dbo.january_2017 AS j, LaborStatisticsDB.dbo.industry AS i
WHERE j.series_id = s.series_id AND s.industry_code = i.industry_code
AND s.data_type_code = 82 AND j.value > (
    SELECT AVG(a.value)
    FROM LaborStatisticsDB.dbo.annual_2016 AS a 
    WHERE a.series_id IN (
        FROM LaborStatisticsDB.dbo.series AS s 
        WHERE s.data_type_code = 82

    )
)
GROUP BY j.series_id, i.industry_code, i.industry_name, j.value

: Msg 156, Level 15, State 1, Line 8
Incorrect syntax near the keyword 'FROM'.

In [ ]:
SELECT s.series_id, i.industry_code, i.industry_name, j.value 
FROM LaborStatisticsDB.dbo.industry AS i 
JOIN LaborStatisticsDB.dbo.series AS s 
ON i.industry_code = s.industry_code
JOIN LaborStatisticsDB.dbo.january_2017 AS j 
ON 
WHERE j.value > AVG(a.value) AND s.data_type_code = 82;

In [102]:
SELECT s.series_id, i.industry_code, i.industry_name, j.value 
FROM LaborStatisticsDB.dbo.january_2017 AS j 
WHERE j.value > (
    SELECT AVG(a.value)
    FROM LaborStatisticsDB.dbo.annual_2016 AS a
    WHERE s.data_type_code = 82
)

JOIN LaborStatisticsDB.dbo.industry AS i 
ON i.industry_code = s.industry_code

: Msg 156, Level 15, State 1, Line 7
Incorrect syntax near the keyword 'WHERE'.

In [65]:
SELECT TOP 10 s.series_id, i.industry_code, i.industry_name
FROM LaborStatisticsDB.dbo.series AS s 
JOIN LaborStatisticsDB.dbo.industry AS i 
ON s.industry_code = i.industry_code
WHERE s.series_id IN (
    SELECT j.series_id
    FROM LaborStatisticsDB.dbo.january_2017 AS j 
    WHERE j.value > (
        SELECT AVG(a.value)
        FROM LaborStatisticsDB.dbo.annual_2016 AS a
        WHERE s.data_type_code = 82) 
);

series_id,industry_code,industry_name
CES0500000082,5000000,Total private
CES0600000082,6000000,Goods-producing
CES0800000082,8000000,Private service-providing
CES1000000082,10000000,Mining and logging
CES1021000082,10210000,Mining
CES1021100082,10211000,Oil and gas extraction
CES1021200082,10212000,Mining
CES1021300082,10213000,Support activities for mining
CES1021311282,10213112,Support activities for oil and gas operations
CES2000000082,20000000,Construction

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Create a Union table comparing average weekly earnings&nbsp; of production and nonsupervisory employees between annual_16 and january_17 using the data type 30.&nbsp; Round to the nearest penny.&nbsp; You should have a column for the average earnings and a column for the year, and the period.</span>

In [72]:
-- new solution
SELECT TOP 1 a.value, a.year, a.period
FROM LaborStatisticsDB.dbo.annual_2016 AS a
INNER JOIN LaborStatisticsDB.dbo.series AS s on
s.series_id = a. series_id
WHERE s.data_type_code = 30
UNION
SELECT TOP 1 j.VALUE, j.YEAR, j.PERIOD
FROM LaborStatisticsDB.dbo.january_2017 AS j
INNER JOIN LaborStatisticsDB.dbo.series AS s on
s.series_id = j.series_id
WHERE s.data_type_code = 30

value,year,period
723.69,2016,M13
733.49,2017,M01

In [49]:
-- tried to make the list only 2 values, one from each year and then grouping them by value but it wont work. 
SELECT TOP 1 ROUND(AVG(a.value),0), a.year, a.period
FROM LaborStatisticsDB.dbo.annual_2016 AS a
INNER JOIN LaborStatisticsDB.dbo.series AS s on
s.series_id = a. series_id
WHERE s.data_type_code = 30
UNION
SELECT TOP 1 ROUND(AVG(j.VALUE),0), j.YEAR, j.PERIOD
FROM LaborStatisticsDB.dbo.january_2017 AS j
INNER JOIN LaborStatisticsDB.dbo.series AS s on
s.series_id = j.series_id
WHERE s.data_type_code = 30
GROUP BY ROUND(AVG(a.value),0);

: Msg 8120, Level 16, State 1, Line 1
Column 'LaborStatisticsDB.dbo.annual_2016.year' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

: Msg 4104, Level 16, State 1, Line 12
The multi-part identifier "a.value" could not be bound.

In [51]:
SELECT TOP 1 ROUND(AVG(a.value),0), a.year, a.period
FROM LaborStatisticsDB.dbo.annual_2016 AS a
INNER JOIN LaborStatisticsDB.dbo.series AS s on
s.series_id = a. series_id
WHERE s.data_type_code = 30
GROUP BY a.year
UNION
SELECT TOP 1 ROUND(AVG(j.VALUE),0), j.YEAR, j.PERIOD
FROM LaborStatisticsDB.dbo.january_2017 AS j
INNER JOIN LaborStatisticsDB.dbo.series AS s on
s.series_id = j.series_id
WHERE s.data_type_code = 30
GROUP BY j.year

: Msg 8120, Level 16, State 1, Line 1
Column 'LaborStatisticsDB.dbo.annual_2016.period' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [56]:
-- maybe?
SELECT TOP 1(value), year, period
FROM (
    SELECT ROUND(AVG(a.value),0), a.year, a.period
    FROM LaborStatisticsDB.dbo.annual_2016 AS a
    INNER JOIN LaborStatisticsDB.dbo.series AS s ON
    s.series_id = a. series_id
    WHERE s.data_type_code = 30
    UNION ALL
    SELECT ROUND(AVG(j.VALUE),0), j.YEAR, j.PERIOD
    FROM LaborStatisticsDB.dbo.january_2017 AS j
    INNER JOIN LaborStatisticsDB.dbo.series AS s on
    s.series_id = j.series_id
    WHERE s.data_type_code = 30
)
GROUP BY year

: Msg 156, Level 15, State 1, Line 16
Incorrect syntax near the keyword 'GROUP'.

In [28]:
SELECT AVG(a.value) AS "avg weekly earnings 2016", a.year, a.period 
FROM LaborStatisticsDB.dbo.annual_2016 AS a 
UNION 
SELECT AVG(j.value) AS "avg weekly earnings 2017", j.year, j.period
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
WHERE s.data_type_code = 30 
GROUP BY AVG(a.value)

: Msg 8120, Level 16, State 1, Line 1
Column 'LaborStatisticsDB.dbo.annual_2016.year' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

: Msg 4104, Level 16, State 1, Line 9
The multi-part identifier "a.value" could not be bound.

In [30]:
-- seccond try
SELECT AVG(a.value) AS "avg weekly earnings 2016", a.year, a.period 
FROM LaborStatisticsDB.dbo.annual_2016 AS a 
UNION 
SELECT AVG(j.value) AS "avg weekly earnings 2017", j.year, j.period
FROM LaborStatisticsDB.dbo.january_2017 AS j 
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
WHERE s.data_type_code = 30 
GROUP BY a.value

: Msg 8120, Level 16, State 1, Line 2
Column 'LaborStatisticsDB.dbo.annual_2016.year' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

: Msg 4104, Level 16, State 1, Line 10
The multi-part identifier "a.value" could not be bound.

In [125]:
SELECT AVG(a.value) AS "avg weekly earnings 2016", a.year, a.period 
FROM LaborStatisticsDB.dbo.annual_2016 AS a
UNION 
SELECT AVG(j.value) AS "avg weekly earnings 2017", j.year, j.period
FROM LaborStatisticsDB.dbo.january_2017 AS j 
UNION 
SELECT s.series_id, s.data_type_code
FROM LaborStatisticsDB.dbo.series AS s 
WHERE s.data_type_code = 30

: Msg 156, Level 15, State 1, Line 7
Incorrect syntax near the keyword 'UNION'.

In [32]:
SELECT AVG(a.value) AS "avg weekly earnings 2016", a.year, a.period 
FROM LaborStatisticsDB.dbo.annual_2016 AS a
UNION 
SELECT AVG(j.value) AS "avg weekly earnings 2017", j.year, j.period
FROM LaborStatisticsDB.dbo.january_2017 AS j 
UNION 
SELECT s.series_id, s.data_type_code
FROM LaborStatisticsDB.dbo.series AS s 
WHERE s.data_type_code = 30 
GROUP BY a.value

: Msg 8120, Level 16, State 1, Line 1
Column 'LaborStatisticsDB.dbo.annual_2016.year' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

: Msg 4104, Level 16, State 1, Line 10
The multi-part identifier "a.value" could not be bound.

In [69]:
SELECT TOP 1 j.value AS "avg weekly earnings 2017", j.year, j.period
FROM LaborStatisticsDB.dbo.january_2017 AS j 
UNION 
SELECT TOP 1 a.value AS "avg weekly earnings 2016", a.year, a.period 
FROM LaborStatisticsDB.dbo.annual_2016 AS a
ORDER BY value

avg weekly earnings 2017,year,period
36.9,2016,M13
36.9,2017,M01

In [26]:
SELECT j.value AS "avg weekly earnings 2017", j.year, j.period
FROM LaborStatisticsDB.dbo.january_2017 AS j 
UNION 
SELECT a.value AS "avg weekly earnings 2016", a.year, a.period 
FROM LaborStatisticsDB.dbo.annual_2016 AS a
GROUP BY year
ORDER BY value

: Msg 8120, Level 16, State 1, Line 4
Column 'LaborStatisticsDB.dbo.annual_2016.value' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [ ]:
SELECT a.value 
from LaborStatisticsDB.dbo.annual_2016 AS a
   where a.value in
      (select stor_id from
         (select a.value from sales
          union
          select j.value from aborStatisticsDB.dbo.january_2017 AS j)
       dt_stores)

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Summarize Your Results</span>

<span style="font-size:10pt;font-family:Arvo, serif;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">With what you know now about the </span> <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:13.3333px;white-space:pre-wrap;">Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the</span> <span style="color:rgb(102, 102, 102);white-space:pre-wrap;font-family:&quot;Times New Roman&quot;;font-size:13.3333px;">Labor Statistics Database</span><span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:Arvo, serif;font-size:10pt;white-space:pre-wrap;">, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.</span>

1. <span style="background-color:rgb(255, 255, 255);font-size:10pt;white-space:pre-wrap;color:rgb(102, 102, 102);font-family:Arvo, serif;">During which time period did production and nonsupervisory employees fare better?</span>

The production and nonsupervisory employees did better in 2016.

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In which industries did production and nonsupervisory employees fare better?</span>

Highest paid employees worked for the private sector and the lowest paid employees worked at bowling centers.

3. <span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?</span>

A better list of what certain series\_id titles were.  It was frusterating to always have to look up what the code might be for a certain group of employees.